<ion-content>
  <section class="header8 cid-sq1Uim84hx mbr-parallax-background" id="header8-f">
    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(255, 51, 102);"></div>
    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center py-2 mbr-bold mbr-fonts-style display-1">
                        HYRAX-BIOSCIENCES
                </h1>
                <p class="mbr-text align-center py-2 mbr-fonts-style display-5">
                        Front-End Developer Technical Assessment.
                </p>
            </div>
        </div>
    </div>
  </section>  

  <section class="mbr-section content6 cid-sq1XwBY5Qj" id="content6-m">
    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-12">
                  <img src="../../assets/flags/{{dataObj?.code}}.svg" class="img-fluid" alt="Flag image">
                <div>
                  <p class="spacing">
                        <strong>Name:</strong>
                        {{dataObj?.name}},
                        <strong>Code:</strong>
                        {{dataObj?.code}},
                        <strong>Region:</strong>
                        {{dataObj?.region}}.
                        <strong>Population:</strong>
                        {{dataObj?.population}},
                      
                        <strong>Area:</strong>
                        {{dataObj?.area}},
                        <strong>GDP:</strong>
                        {{dataObj?.gdp}},
                        <strong>Population_Density:</strong>
                        {{dataObj?.population_density}},
                        <strong>Net_Migration:</strong>
                        {{dataObj?.net_migration}},
                      
                        <strong>Infant_mortality:</strong>
                        {{dataObj?.infant_mortality}},
                        <strong>Literacy:</strong>
                        {{dataObj?.literacy}},
                        <strong>Phones_per_1000:</strong>
                        {{dataObj?.phones_per_1000}},
                        <strong>Arable_land_percentage:</strong>
                        {{dataObj?.arable_land_percentage}},
                      
                        <strong>Climate:</strong>
                        {{dataObj?.climate}},
                        <strong>Birthrate:</strong>
                        {{dataObj?.birthrate}},
                        <strong>Deathrate:</strong>
                        {{dataObj?.deathrate}},
                        <strong>Agriculture:</strong>
                        {{dataObj?.agriculture}},
                      
                        <strong>Industry:</strong>
                        {{dataObj?.industry}},
                        <strong>Service:</strong>
                        {{dataObj?.service}},
                        <strong>Latitude:</strong>
                        {{dataObj?.latitude}},
                        <strong>Longitude:</strong>
                        {{dataObj?.longitude}},
                      
                        <strong>Land_types:</strong>
                        (crops_percentage {{dataObj?.crops_percentage}}% & other_percentage {{dataObj?.crops_percentage}}%)
                        <strong>Capital:</strong>
                        {{dataObj?.capital}}.
                    </p>
                </div>

            </div>
        </div>
    </div>
  </section>
  <iframe width="100%" height="450" frameborder="0" style="border:0" src="this.sanitizer.bypassSecurityTrustResourceUrl(url)"></iframe>
    
</ion-content>
